git+https://github.com/Rapptz/discord.py@2b9e43dbf94730a9fd3ef4da005c6e8c5d826e74
jishaku~=2.5.0
pytz~=2022.1
feedparser~=6.0.10
psutil~=5.9.1
markdownify~=0.11.2
gspread~=5.4.0
rapidfuzz~=2.1.2
yarl~=1.7.2
