{ 
    "DEFAULT": {
        "TOKEN": "",
        "STATUS": "",
        "PREFIX": "."
    },

    "MODERATOR": [
        "Da Master",
        "Admin"
    ],

    "CHANNEL": {
        "NINUPDATES": null
    }
}
