{ 
    "DEFAULT": {
        "TOKEN": "",
        "STATUS": "",
        "PREFIX": "."
    },

    "GUILD": "",

    "MODERATOR": [
        "Da Master",
        "Admin"
    ],

    "CHANNEL": {
        "NINUPDATES": null,
        "SUBREDDIT": null
    },

    "GSPREADKEY": null
}
