{ 
    "DEFAULT": {
        "TOKEN": "",
        "STATUS": "",
        "PREFIX": "."
    },

    "GUILD": "",

    "MODERATOR": [
        "Da Master",
        "Admin"
    ],

    "CHANNEL": {
        "NINUPDATES": null,
        "SUBREDDIT": null,
        "GITHUBUPDATES": null
    },

    "THREAD": {
        "TWLUPDATES": null,
        "NDSBUPDATES": null,
        "WEBUPDATES": null,
        "DXUPDATES": null,
        "MISCUPDATES": null
    },

    "GSPREADKEY": null
}
